<section id="background">

</section>

<div class="container">
    <div class="form-center">
        <form #usersearch="ngForm" (ngSubmit)="onClickSubmit(usersearch.value)">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Search user" ngModel>
            </div>
            <input class="btn btn-info" type="submit" value="Search">
        </form>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="rounded" src="{{git_profiles.avatar_url}}" alt="" width="300px" height="300px">
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">Number of public repos
                    <span class="badge badge-secondary">{{git_profiles.public_repos}}</span>
                </li>
                <li class="list-group-item">Followers <span class="badge badge-secondary">{{git_profiles.followers}}</span></li>
                <li class="list-group-item">Following <span class="badge badge-secondary"> {{git_profiles.following}}</span></li>
                <li class="list-group-item">Created on {{git_profiles.created_at | date}}</li>
                <li class="list-group-item">No of public gists <span class="badge badge-secondary">{{git_profiles.public_gists}}</span></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active">
                          <a href="/">{{git_profiles.name}}</a>
                        </button>
                <button type="button" class="list-group-item list-group-item-action">Orginisation</button>
                <button type="button" class="list-group-item list-group-item-action">Subscription</button>
                <button type="button" class="list-group-item list-group-item-action">Hirable</button>
                <button type="button" class="list-group-item list-group-item-action" disabled>Email</button>
            </div>
        </div>
    </div>

</div>